@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
font-size: 16px;
}
:root {
--theme-color: #EC5B38;
--title-color: #3B9494;
--text-color: #B0DDDD;
--height-title: 1.5;
--height-text: 1.5;
--bg-color: #FCF2E5;
}
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
font-family: "Arial", "Helvetica", sans-serif;
color: var(--text-color);
background-color: var(--bg-color);
margin: 0;
padding: 0;
scroll-behavior: smooth;
}
img {
display: block;
max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
font-size: 1.5rem;
font-weight: 400;
line-height: var(--height-title);
margin: 0;
color: var(--title-color);
}
p {
margin: 0;
line-height: var(--height-text);
font-size: 1rem;
color: inherit;
}
ul, ol {
list-style: none;
}
a {
text-decoration: none;
color: inherit;
}
a:hover {
color: var(--theme-color);
text-decoration: underline;
}
.container {
max-width: 1580px;
margin: 0 auto;
padding: 0 12px;
}
.flex_content_header {
display: flex;
align-items: center;
}
.header {
background: #FFF;
padding: 21px 8px;
color: #5C5848;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.ul_nav {
display: flex;
margin-left: 22px;
gap: 19.5px;
margin-top: 6.5px;
font-size: 1.09375rem;
}
.holder_content_flex {
display: flex;
justify-content: space-between;
}
.hero {
color: #524646;
font-size: 2rem;
font-weight: 700;
font-family: "Inter", sans-serif;
background: #FCF2E5;
}
.h1_hero {
font-family: "Oswald", cursive;
font-size: 4rem;
font-weight: 700;
color: #827166;
}
.holder_hero {
max-width: 650px;
padding-top: 242px;
}
.p_hero {
padding-top: 53px;
font-size: 2rem;
}
.button_hero {
background: #524646;
color: #FFF;
font-family: "Poppins", sans-serif;
font-weight: 700;
outline: none;
border: none;
padding: 13px 20px;
border-radius: 1px;
font-size: 1.3rem;
}
.buttons_hero {
gap: 19px;
display: flex;
align-self: flex-end;
}
.introduction {
background: #1E1E1E;
color: #FFF;
padding-top: 109px;
padding-bottom: 140px;
margin-top: 242px;
}
.flex_content_intro {
display: flex;
justify-content: space-between;
}
.sticky_header {
position: sticky;
top: 0;
left: 0;
opacity: .50;
z-index: 1000;
}
.bar {
position: fixed;
top: 0;
left: 0;
width: 0;
height: 98px;
opacity: .5;
background-color: #EC5B38;
z-index: 500;
}
.steps_section {
transform: translateX(200%);
background: #1E1E1E;
color: #FFF;
padding-top: 109px;
padding-bottom: 140px;
margin-top: 242px;
margin-bottom: 100px;
}
.slide_to_right {
animation: slideToRight 1s ease-out forwards;
}
@keyframes slideToRight {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}
.introduction_h1::before {
content: "Quem somos...";
color: #A8A492;
font-family: "Poppins", sans-serif;
font-weight: 800;
display: block;
line-height: 1.3rem;
font-size: 1.125rem;
padding-bottom: 2px;
}
.introduction_h1 {
color: #FCF2E5;
font-weight: 700;
font-family: "Oswald", cursive;
font-size: 2.625rem;
}
.introduction_p {
color: inherit;
font-weight: 700;
font-size: 1.1rem;
max-width: 680px;
margin-top: 23px;
}
.middle_section {
padding: 88px 0;
}
.grid_middle_content {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 120px;
/* align-items: start; */
}
article > h2 {
color: #524646;
font-family: "Poppins", sans-serif;
font-size: 2rem;
font-weight: 800;
margin-bottom: 14px;
}
.article p {
font-size: 1.125rem;
line-height: 1.3;
font-family: "Inter", sans-serif;
}
.article_grid_middle {
color: #1E1E1E;
font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 1.1rem;
justify-self: flex-start;
}
.steps_h1::before {
content: "Fluxograma do passo à passo";
color: #A8A492;
font-family: "Poppins", sans-serif;
font-weight: 800;
display: block;
line-height: 1.3rem;
font-size: 1.125rem;
padding-bottom: 2px;
}
.steps_h1 {
color: #FCF2E5;
text-align: right;
font-weight: 700;
font-size: 2.625rem;
font-family: "Oswald", cursive;
margin-bottom: 81px;
}
.holder_article {
display: flex;
align-items: flex-start;
}
.number {
font-family: "Oswald", cursive;
color: #EC5B38;
font-size: 2.915rem;
font-weight: 800;
align-self: center;
margin-left: 6px;
}
.article_grid_steps h2 {
color: #FCF2E5;
font-size: 2rem;
}
.article_grid_steps {
color: #FFF;
display: flex;
justify-content: space-between;
flex-direction: column;
font-size: 1.1rem;
font-weight: 700;
}
.final_section p {
color: #1E1E1E;
font-size: 1.5rem;
font-weight: 900;
font-family: "Inter", sans-serif;
margin-top: 36px;
}
.ul_menu {
color: #1E1E1E;
font-size: 1.5rem;
font-weight: 700;
margin-top: 52px;
list-style-image: url('/img_src/misc/9090.svg');
}
.ul_menu > li {
margin-bottom: 36px;
font-size: 1,125rem;
line-height: 1.3;
font-family: "Inter", sans-serif;
}
.bottom_align {
align-self: flex-end;
}
.footer {
margin-top: 113px;
background: #1E1E1E;
}
.h1_final_section {
color: #1E1E1E;
font-weight: 700;
font-family: "Oswald", cursive;
font-size: 2.625rem;
max-width: 680px;
}
.h1_final_section::before {
content: "Operação Completa de Prospecção";
color: #A8A492;
font-family: "Poppins", sans-serif;
font-weight: 800;
display: block;
line-height: 1.3rem;
font-size: 1.125rem;
padding-bottom: 2px;
}
.footer {
padding: 36px 0;
}
.split_content {
display: flex;
justify-content: space-between;
flex-direction: column;
max-width: 600px;
height: 300px;
}
.copy {
color: #FCF2E5;
font-size: 1.125rem;
line-height: 1.5;
font-family: "Oswald", sans-serif;
/* margin-bottom: 200px; */
}
.copy_img {
max-width: 200px;
}
@media screen and (max-width: 557px) {
/* small phones */
    html {
    font-size: 14px;
    }
    .grid_middle_content {
    grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 768px) and (min-width: 557px) {
/* normal phones */
    html {
    font-size: 15px;
    }
    .grid_middle_content {
    grid-template-columns: 1fr;
    }
    .button_hero {
    display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
/* screen landscape mobile*/
    html {
    font-size: 16px;
    }
    .grid_middle_content {
    grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
/* common desktops */
    html {
    font-size: 17px;
    }
    .grid_middle_content {
    grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1920px) {
/* common desktops */
    html {
    font-size: 18px;
    }
}
@media screen and (min-width: 1920px) {
/* above full hd screens */
    html {
    font-size: 19px;
    }
}