@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
html {
font-size: 16px;
}
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
font-family: "Open Sans", "Helvetica", sans-serif;
color: #FFF;
background-color: #1A2C40;
margin: 0;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr auto auto auto;
}
img {
display: block;
max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
font-size: 1.5rem;
font-weight: 400;
line-height: 1.1;
margin: 0;
}
p {
margin: 0;
line-height: 1.5;
font-size: 1rem;
}
ul, ol {
list-style: none;
}
a {
color: inherit;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
.header {
display: flex;
align-items: center;
justify-content: space-between;
height: 100px;
background-color: #000;
padding: 0 12px;
}
.logo {
display: flex;
align-items: center;
gap: 16px;
}
.banner_section {
height: 867px;
background: url('../img_src/banner/banner.jpg') no-repeat center center;
background-size: cover;
padding: 0 180px;
background-attachment: fixed;
}
.sticky {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1000;
height: 80px;
opacity: .5;
animation: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.banner_text {
padding-top: 218px;
max-width: 683px;
}
.banner_title {
font-family: "Anton", "Oswald", "Open Sans", sans-serif;
font-weight: 400;
background: linear-gradient(90deg, #161616 0%, #D47A36 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 4rem;
line-height: 1.1;
margin-bottom: 41px;
}
.banner_p {
font-size: 1.5rem;
font-weight: 700;
line-height: 1.5;
color: #2B2A28;
font-family: "Open Sans", "Helvetica", sans-serif;
}
.main {
padding: 0 180px;
display: grid;
grid-template-columns: 1fr 1fr;
margin-bottom: 157px;
gap: 1rem;
}
.specs {
display: grid;
padding: 0 180px;
grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
justify-content: space-between;
margin-bottom: 139px;
}
.spec {
display: flex;
flex-direction: column;
align-items: center;
}
.box {
width: 260px;
height: 260px;
background-color: #16202B;
display: flex;
align-items: center;
border-radius: 3px;
justify-content: center;
}
.about {
padding: 0 180px;
}
.about_title {
color: #EEE;
font-family: "Oswald", "Helvetica", sans-serif;
font-size: 1.875rem;
padding-bottom: 43px;
font-weight: 600;
margin-top: 139px;
}
.about_text {
max-width: 1078px;
padding-bottom: 159px;
}
.title_spec {
color: #C9A15B;
font-size: 2.5;
font-family: "Oswald", "Helvetica", sans-serif;
line-height: 1.2;
font-weight: 700;
margin-top: 16px;
}
.title_spec::before {
display: inline-block;
content: '';
margin-right: 15px;
width: 18px;
height: 18px;
vertical-align: middle;
background: url("../img_src/misc/1025.svg");
}
.dt_therm {
color: #C9A15B;
font-weight: 400;
margin-bottom: 18px;
font-family: "Anton", "Helvetica", sans-serif;
font-size: 1.5rem;
}
.descr {
margin-bottom: 53px;
}
.top_p_div {
margin-bottom: 43px;
font-weight: 700;
font-size: 1.625rem;
}
.right_div_main dt::first-letter {
color: #FFF;
}
.right_div_main dt {
font-size: 1.5rem;
color: #C9A15B;
font-weight: 400;
margin-bottom: 18px;
font-family: "Anton", "Helvetica", sans-serif;
}
.right_div_main dd {
margin-bottom: 46px;
}
.price_text {
color: #EEE;
font-weight: 400;
font-family: "Anton", "Helvetica", sans-serif;
font-size: 1.9375rem;
max-width: 437px;
line-height: 1.5;
}
.price {
color: #C9A15B;
font-weight: 700;
font-family: "Oswald", "Helvetica", sans-serif;
font-size: 3rem;
}
.currency {
color: #FFF;
}
.main_price {
display: flex;
align-items: flex-end;
flex-direction: column;
margin: 0 180px 398px 180px;
/* padding-bottom: 228px; */
border-left: 7px solid #C9A15B;
}
.footer {
background: linear-gradient(270deg, #131E2A 0%, #1A2C40 100%);
padding-top: 51px;
padding-left: 180px;
padding-right: 180px;
font-family: "Open Sans", "Helvetica", sans-serif;
color: #EEE;
}
.right_div_top {
text-align: right;
}
.top_content_footer {
display: flex;
justify-content: space-between;
}
.contact_title {
font-weight: 700;
font-size: 1.625rem;
margin-bottom: 18px;
}
.menu_item {
padding-bottom: 14px;
font-size: 1rem;
}
.brand_content {
font-family: "Oswald", "Helvetica", sans-serif;
font-size: 1.125rem;
font-weight: 700;
}
.bottom_content_footer {
display: flex;
justify-content: space-between;
font-size: 1.125rem;
font-weight: 700;
line-height: 1.5;
margin-top: 38px;
padding-bottom: 133px;
color: #EEE;
}
.button {
background: #C9A15B;
color: #000;
border: none;
padding: 10px 20px;
font-size: 1.2rem;
font-weight: 700;
cursor: pointer;
font-family: "Open Sans", "Helvetica", sans-serif;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
border-radius: 3px;
margin-top: 24px;
}
@media screen and (max-width: 557px) {
/* small phones */
    html {
    font-size: 11px;
    }
    .banner_section {
    padding-left: 7px;
    padding-right: 7px;
    }
    .main {
    padding-left: 7px;
    grid-template-columns: 1fr;
    gap: 45px;
    padding-right: 7px;
    margin-bottom: 52px;
    }
    .banner_p {
    font-size: 1.7rem;
    }
    .footer {
    padding-left: 7px;
    padding-right: 7px;
    }
    .about {
    padding-left: 7px;
    padding-right: 7px;
    }
    .about_title {
    margin-top: 98px;
    }
    .about_text {
    padding-bottom: 98px;
    }
    .main_price {
    margin-left: 7px;
    margin-right: 7px;
    }
    /* .left_div_main {
    margin-bottom: 157px;
    } */
    .footer {
    flex-direction: column;
    }
    .left_footer {
    order: 2;
    }
    .price_text {
    text-align: right;
    }
    .list_item {
    text-align: left;
    }
    .copy {
    margin-bottom: 28px;
    font-weight: 700;
    }
    .specs {
    justify-content: center;
    padding-left: 7px;
    grid-template-columns: 1fr;
    padding-right: 7px;
    gap: 3rem;
    }
    .remove_phone {
    display: none;
    }
}
@media screen and (max-width: 768px) and (min-width: 557px) {
/* normal phones */
    html {
    font-size: 15px;
    }
    .banner_section {
    padding-left: 9px;
    padding-right: 9px;
    }
    .main {
    padding-left: 9px;
    grid-template-columns: 1fr;
    gap: 9px;
    padding-right: 9px;
    }
    .footer {
    padding-left: 9px;
    padding-right: 9px;
    }
    .about {
    padding-left: 9px;
    padding-right: 9px;
    }
    .main_price {
    margin-left: 9px;
    margin-right: 9px;
    }
    .left_div_main {
    margin-bottom: 157px;
    }
    .specs {
    padding-left: 9px;
    padding-right: 9px;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    }
    .remove_either {
    display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
/* screen landscape mobile*/
    html {
    font-size: 16px;
    }
    .banner_section {
    padding-left: 16px;
    padding-right: 16px;
    }
    .main {
    padding-left: 16px;
    padding-right: 16px;
    }
    .footer {
    padding-left: 16px;
    padding-right: 16px;
    }
    .about {
    padding-left: 16px;
    padding-right: 16px;
    }
    .main_price {
    margin-left: 16px;
    margin-right: 16px;
    }
    .specs {
    padding-left: 16px;
    padding-right: 16px;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
/* common desktops */
    html {
    font-size: 16px;
    }
    .banner_section {
    padding-left: 20px;
    padding-right: 20px;
    }
    .main {
    padding-left: 20px;
    padding-right: 20px;
    }
    .footer {
    padding-left: 20px;
    padding-right: 20px;
    }
    .about {
    padding-left: 20px;
    padding-right: 20px;
    }
    .main_price {
    margin-left: 20px;
    margin-right: 20px;
    }
    .specs {
    padding-left: 20px;
    padding-right: 20px;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1920px) {
/* common desktops */
    html {
    font-size: 16px;
    }
}
@media screen and (min-width: 1920px) {
/* above full hd screens */
    html {
    font-size: 16px;
    }
}